@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #191919;
    background-color: #f3efef;
    font-weight:300;
}
.container {
    max-width: 400px;
}

.home{
    margin: 15% 0;
}
.meet nav{
    margin:15% 0 5% 0;
}

h1,
h2 {
    font-weight: 700;
    letter-spacing: -1px;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.25em;
}
a {
    color: #191919;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:500;
}
em {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .2px;
    font-weight:500;
}
a:hover {
    color: #333;
}
#contact a {
    display: block;
    line-height: 2;
}
.bi {
    padding: 0 1em 0 0;
    color: #bdb5b5;
    
}
.bi-arrow-right{
    vertical-align: middle;
    font-size: .75em;
    padding: 0 0 0 .5em;
}


@media(max-width:556px){
    .home{
        margin:50% 0;
    }
}