p{
    margin-left:20px;
}

h2{
text-transform: uppercase;
color:white;
background-color: #36454F;
padding:5px 45px;
letter-spacing: 1.5px;
margin-top: 5px;
font-size: .8rem;
}


h3{
    font-size: 1rem;
    font-weight:700;
    letter-spacing: 1px;;
    text-transform: uppercase;
    }

.note{
font-size: .9rem;
font-style: italic;
}

.done{
    background-color: darkgray;
    } 

    h4,
#due{
display:inline;
font-size: .9rem;
text-transform: uppercase;
font-weight: 600;
color:slategray;
letter-spacing: 1.2px;
padding-left:10px;
}
em{
    color:darkgray;
    }