
/* font-family: 'Spectral', serif; 
font-family: 'Karla', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/* #36454F -- charcoal
#F88379 -- coral
#FBE5C0 -- beige
#D0E6F0 -- lightblue */


h2{
display:inline;
text-transform: uppercase;
font-size: 1.5rem;
}

h3{
text-transform: uppercase;
font-family: Helvetica, sans-serif;
font-weight: 800;
font-size:1rem;
margin-top:10px;
margin-bottom: 5px;
letter-spacing: 1px;
background-color: #36454F;
color:white;
padding:5px 10px;
}

.desc{
    padding:0 10px;
    text-align: justify;
}
.place{
    color:lightgray;
    text-transform: lowercase;
    font-weight: 100;
    font-size: .7rem;

}

.title{
    font-weight:600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.date{
color:darkgray;
}