@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
*/
/* 
"Gunmetal":"1e2b34"
"Platinum":"e8e8e8"
"Ash Gray":"afc3b7"
"Shadow Blue":"678da8"}
*/

body{
font-family: 'Fira Sans Extra Condensed', sans-serif;
background-color: #678DA8;
font-weight: 300;
}

.master{
background-image: url("../img/bg-unsplash-4.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:#334B5B;

}

.main .block{
background:white;
margin:0 auto;
margin:10% 20%;
padding:6%;
box-shadow: 5px 5px 3px gray;
}


.main a{
    font-style: italic;
    font-weight: 400;
    color: gray;
}

.main a:hover{
    color:#678DA8;
}

@media(max-width:1000px){
.main .block{
margin:20% 10%;
}
}

@media (max-width:500px){
.main .block{
margin:35% 10%;
}
}

@media (max-width:350px){
.main .block{
margin:20% 10%;
}
} 


h1{
font-family: Helvetica, sans-serif;
font-size:3.2em;
color:#1e2b34;
font-weight: 700;
}

h2{
font-size:.8em;
font-weight:200;
letter-spacing: 1.4px;
text-transform: uppercase;
color: #678DA8;
}


/* icons */
.bi{
color: #334B5B;
letter-spacing: 5px;
}

.social{
    padding:10px 0;
}

.bi:hover{
color:#E8E8E8;
}

/* links */

a{
    color:black;
    text-decoration: none;
}

/* button */

.contact button{
    color:white;
    background:#334B5B;
    font-weight: 200;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: .7em;
}

.contact button a{
    color:white;
}

.btn:hover{
    color:#334B5B;
    background:#E8E8E8;

}

.nav a{
    color:white;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1.2px;
}

.nav a:hover{
    color:#E8E8E8;
}

h3{
    font-size:1.2em;
    background:#678DA8;
    color:white;
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
}

.title,
.date{
    margin: 0 0 0 20px;
    padding:0;
}

.place{
    display:inline;
    font-size: .8em;
    font-style: italic;
    font-weight:100;
    text-transform: lowercase;
    padding: 0 10px;
}


.title{
    font-weight:500;
}

.date{
    font-weight: 100;
    font-size:.8em;
    padding-bottom:5px;
}

.second{
    margin-top:20px;
}