body{
font-family: 'Open Sans', sans-serif;
font-size:16px;
}

img{
    width: 100%;
    padding: 10px 10px;
}

p{
margin:0;
}


main{
margin:20px 0;
}

h1{
font-weight:800;
text-transform: uppercase;
}

h2{
text-transform: uppercase;
color:white;
background-color: #36454F;
padding:5px 45px;
letter-spacing: 1.5px;
font-size: .7rem;
margin-top: 5px;
}


h3{
    font-size: .9rem;
    font-weight:700;
    letter-spacing: 1px;;
    text-transform: uppercase;
}

h2,h4{
    font-family: Arial, Helvetica, sans-serif;

}

.date{
font-weight:800;
font-size: 1rem;
padding-left:20px;
}

.sem{
color:aliceblue;
background-color:#F88379;
text-transform: uppercase;
display:inline;
padding:0 10px;
font-weight:800;
}

.note{
font-size: .7rem;
font-style: italic;
}


li{
    list-style: square;
}

a{
    text-decoration: none;
    color:#36454F;
    font-weight:700;
}

a:hover{
    color:#F88379;
}


h4,
#due{
    display:inline;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600;
    color:slategray;
    letter-spacing: 1.2px;
    padding-left:10px;
    
}

blockquote{
    margin-left: 90px;
}

em{
    color:darkgray;
}