.blurb{
  margin-top:150px;
}
@media (max-width:450px) {
  .blurb{
    margin-top:0;
  }
}

.bio a {
  font-style: italic;
  font-weight: bold;
}

.resume h3 {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #2d302f;
  display: inline-block;
}

.resume p {
  text-transform: lowercase;
}

.resume h4 {
  text-transform: uppercase;
  color: #d59d86;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: underline;
  text-decoration-color: #d59d86;
  text-decoration-thickness: 2px;
}

.credits a,
.custom-menu li a {
  text-decoration: none;
}
.title {
  color: #2d302f;
  font-weight: bold;
  display: inline;
  color: #d59d86;
}

.btn-submit {
  background: #8c7a90;
  color: white;
}
.title::before {
  content: "— ";
}

.date {
  font-style: italic;
  font-size: 13px;
  display: inline-block;
}

.location {
  color: gray;
  font-size: 12px;
}

.title,
.description {
  padding-left: 20px;
}

.uppercase {
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# ICON
--------------------------------------------------------------*/

.bi {
  color: #d59d86;
}
