/*

--antiflash-white: #f6f6f8;
--timberwolf: #dcd7d3;
--davys-gray: #5e5b57;
--desert-sand: #edd2bb;
--chamoisee: #946f5c;
--rose-ebony:#6D454C;


font-family: 'Arsenal',
sans-serif;
font-family: 'Palanquin',
sans-serif;
font-family: 'Assistant',
sans-serif;


font-family: "komet-sc",
sans-serif;

font-family: "komet",
sans-serif;

font-family: "arponasans",
sans-serif;
font-family: "swear-display",
serif;
*/


.container {
    width: 47%;
    height: 75vh;
    margin: 17% auto auto auto;
}

body {
    font-family: "arponasans",
        sans-serif;
    font-size: 15px;
    background-color: #DCD7D3;
    color: #5e5b57;
}

h1 {
    font-family: "swear-display", serif;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: 500;
}

h1 span {
    display: block;
    font-family: "komet",
        sans-serif;
    font-size: .3em;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-family: "swear-display", serif;

    text-transform: lowercase;
}

a {
    color: #946f5c;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: #6D454C;
}

.bi-chevron-down {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin: 37%;
    color: #946f5c;
}

#contact i {
    padding: 0 2% 0 0;
}

#contact a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}



@media (max-width:556px) {
    .container {
        width: 87%;
        margin: 55% auto auto auto;
    }
}