/* font-family: freight-sans-pro, sans-serif;

font-family: freight-text-pro, serif;
font-family: lust, serif; 
*/

body{
    font-family: freight-sans-pro, sans-serif;
    font-size:20px;
    background-color: #AF5740;
    color:#F6E9E0;
}

h1,
h2{
    font-family: lust, serif; 
    font-weight: 800;
    font-size: 9em;
    letter-spacing: 1.1px;

}

h3{
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size:1.1em;
}
.container{
    padding:50px 40px;
}

.section-main{
    width:65%;
}
a,
a:hover{
    color:#F6E9E0;
    font-weight:600;
    text-decoration: none;
}

a:hover{
    color:white;
}

.btn{
    background-color: #F6E9E0;
    letter-spacing: 1.2px;
    font-weight: 600;  
}

.btn{
    color:black;
}
.btn:hover{
    color:#AF5740;
}




.calendly-inline-widget{
    height:90vh;
    padding:0;
    margin:0;

}


.calendar{
    padding:0 0;
    margin:0;
    height:100vh;
}

.bi{
    letter-spacing:3px;
    margin-bottom:20px;
}


@media (max-width:900px){
    h1,h2{
        font-size:7em;
    }
    body{
        font-size:18px;
    }
    .txt-center{
        text-align:left;
    }
    .calendly-inline-widget{
        height:90vh;
        padding:0;
        margin:0;
    
    }
}

@media (max-width:600px){
    h1,h2{
        font-size:5.2em;
    }
    body{
        font-size:16px;
    }
    .txt-center{
        text-align:right;
    }

    .container{
        padding:50px 30px;
    }
    .section-main{
        width:100%;
    }

    .calendly-inline-widget{
    height:100vh;
    padding:20px 10px;

    }
    .calendar{
        height:100vh;
    }

}


