.thin{
font-weight:100;
}
.elight{
font-weight:200;	
}
.light{
font-weight:300;
}
.reg{
font-weight:400;
}
.medium{
font-weight:500;
}
.sbold{
font-weight:600;
}
.bold{
font-weight:700;
}
.ebold{
font-weight:800;
}
.black{
font-weight:900;
}
.ital{
	font-style:italic;
}