@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* // BLOCK //  */

.vg-section {
    background: white;
    padding: 1em;
    font-family: 'Barlow', sans-serif;

}

.vg-section p,
.vg-section b,
.race-id,
.vg-candidates p,
.vg-candidates a {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.vg-section b,
.vg-section i {
    display: block;
}


.vg-section b {
    font-weight: 700;
    line-height: 3;
    font-size: 1.1em;
    letter-spacing:.1em;
    text-transform: uppercase;

}

.vg-section a:hover {
    color: goldenrod;
}


/* CANDIDATE BLOCK */

.vg-candidates p,
.vg-candidates a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding:0;
    margin:0;

}

.vg-candidates a{
    color:black;
}



/* // KEY ONLY */

.vg-more {
    font-style: italic;
    color: darkgray;
    text-decoration: none;
}

.vg-section .vg-key i {
    color: gray;
    font-size: .8em;
    padding: 1em 0;
}

/* RACE ID */
.race-id {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .05rem;
}


/* // BUTTONS ONLY */


.vg-button a {
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    padding: .5em;
    margin: .3em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8em;
    border-radius: 5%;
    letter-spacing: .1em;
}

.vg-button a:hover {
    background-color: goldenrod;
    color: black;
}

/* // DNR  //  */


.vg-section .vg-candidates .dnr {
    color: #C5C5C5;
}

.vg-section .vg-candidates .dnr::after {
    content: " * "
}


/* // PARTY IDENTIFIERS //  */
.rep::before {
    color: red;
}

.dem::before {
    color: blue;
}

.lib::before {
    color: goldenrod;
}

.green::before {
    color: green;
}

.working::before {
    color: #471e81;
}


.unaff::before {
    color: darkgray;
}

.nonp::before {
    color: #000;
}

.unaff::before,
.lib::before,
.dem::before,
.rep::before,
.working::before,
.green::before,
.nonp::before {
    display: inline;
    font-weight: bold;
    padding: 0 .3em 0 0;
}

.unaff::before,
.lib::before,
.dem::before,
.rep::before,
.working::before,
.green::before {
    content: "\2605";
    font-size: .8em;
}

.nonp::before {
    content: "\2729";
    font-size: .85em;
}